# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
frontend/node_modules
.vite
dist
frontend/dist
dist-ssr
backend/target
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 개발 로그 기록을 위한 데이터 보관 디렉토리
documentation

# 환경 파일
.env
.env.*
!.env.example
